.page_body {
    font-family: sans-serif;
    width: 1400px;
    height: 1626px;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
}
a{
    text-decoration: none;
}
.main_nav {
    width: 1400px;
    height: 88px;
}
.nav_list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}
.nav-item {
    display: inline-block;
    margin-left: 72px;
}
.list {
    color: #000;
    font-size: 18px;
    font-weight: 400;
}
.nav_bar {
    padding-top: 32px;
    padding-bottom: 32px;
}
.section_img {
    height: 552px;
    background: #00bdc9;
}
.main_img {
    width: 599px;
    height: 368px;
    padding-top: 92px;
    padding-bottom: 92px;
    padding-left: 400px;
    padding-right: 400px;
}
.main-content {
    width: 856px;
    height: 920px;
    margin-right: auto;
    margin-left: auto;
}
.text-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 135%;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding-top: 88px;
}
.text {
    font-weight: 600;
    font-size: 21px;
    line-height: 150%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 40px;
    color: #161616;
}
.text-version {
    color: #04959e;
}
.list-inform {
    box-sizing: border-box;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    padding-left: 20px;
    margin-top: 24px;
    margin-bottom: 40px;
}
.btn-inform {
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #04959e;
    border: none;
    margin-bottom: 98px;
}
.btn-text {
    font-size: 18px;
    line-height: 135%;
    text-align: center;
    color: #fff;
}
.ftr {
    border-top: 1px solid #000;
}
.text-end {
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #161616;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
}